*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    max-height: 100vh;
    background: url(./images/rings.jpg) center no-repeat;
    background-size: cover;
    transition: 8s;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 50s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate{
    0%{
        background-image: url(./images/earrings.jpg);

    }
    16.6%{
        background-image: url(./images/necklace.jpg);

    }
    33.3%{
        background-image: url(./images/watch.jpg);
    }
    49.3%{
        background-image: url(./images/jordan.jpg);
    }
    66.5%{
        background-image: url(./images/chain.jpg);
    }
    83.1%{
        background-image: url(./images/model.jpg);
    }
    100%{
        background-image: url(./images/rings.jpg);
    }

}

.container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 120px 90%;
    font-family: sans-serif;
}
.aside-nav{
    background: #858585;
}
.aside-nav nav{
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
}
.aside-nav h1{
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 3em;
    transition: all .4s ease;
}
.aside-nav h1:hover{
    color: #000000;
}
.first-list ul{
    margin-bottom: 3em;
    li{
        padding: 0.6em;
        a{
            text-decoration: none;
            color: rgb(231, 216, 216);
            text-align: center;
            padding: 5px;
            display: block;
            transition: all .5s ease-in-out;
        }
        a:hover{
            background:#555;
            color: #050b29;
            transform: rotate(10deg);
            border-radius: 3px;
        }
    }
}
.second-list{
    ul{
     li{
         padding: 0.3em;
     }
     a{
         text-decoration: none;
         color: #050307;
         padding: 5px;
         text-align: center;
         display: block;
         transition: all .5s ease-in-out;
         img{
             max-width: 22%;
             padding: 5px;
             transition: all .5s ease-in-out;
         }
     }
     img:hover{
         transform: scale(1.09);
         background: #a3a5bd;
         border-radius: 4px;
     }
    }
}
.search{
    display: flex;
   justify-content: space-between;
   align-content: center;
   .menu{
       width: 30px;
       height: 30px;
       margin: 1.5em 0.5em;
       cursor: pointer;
       img{
           max-width: 100%;
           padding: 5px;
           object-fit: cover;
           background-color: rgba(255, 255, 255, 0.4);
           border-radius: 4px;
       }
   }
   button{
    width: 40%;
    margin: 1.5em 1.9em;
    height: 35px;
    outline: none;
    border: 1px solid #bac5fc;
    border-radius: 4px;
    background: transparent;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
input{
    width: 80%;
    height: 100%;
    outline: none;
    font-size: 16px;
    border: none;
    color: #fff;
    font-weight: 500;
    background: transparent;
}span{
    max-width: 20%;
    background-color: white;
    height: 100%;
}
img{
   max-width: 100%;
   height: 100%;

}

}
.main-nav{
    width: 100%;
    ul{
        display: flex;
        width: 90%;
        margin: 0 4%;

        li{
            list-style: none;
            width: 12%;
            margin: 1%;
            text-align: center;
            a{
                text-decoration: none;
                font-family: Tahoma, Geneva, Verdana, sans-serif;
                text-decoration: none;
                color: #e0ddf0;
                transition: all .5s ease-in-out;
                display: inline-block;
                padding: 6px 8px;
                background-color: rgba(0,0,0,0.4);
                border-radius: 2.5px;
                border: 1px solid rgb(106, 103, 117);
            }
            a:hover{
                transform: scale(1.16);
                color: rgb(122, 122, 160);
            }
        }
    }
}
.main-head{
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 5em;
        font-weight: bold;
        line-height: 1.4em;
        letter-spacing: 2px;
        margin: 0.8em 1.5em 0.2em 0;
        text-align: end;
        color: #0d0050;
    }
    span{
        color: #d4d2f8;
        font-weight: bolder;
    }
     h3{
       color: #ffffff;
       margin-right: 6.6em;
       font-size: 1.1em;
       font-family: sans-serif;
       padding-bottom: 15px;
       text-align: end;
       font-weight: 600;
    }
}
.explore {
    text-align: center;
    a{
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-top: 4em;
        padding: 8px;
        background: #b1b1b1;
        color: #000;
        border-radius: 3px;
        transition: all .5s ease;
    }
    a:hover{
        background: #000003;
        color: #e0ddf0;
    }
}

