*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 150px 1fr;
    font-family: sans-serif;
}
.aside-nav{
    background: #858585;
}
.aside-nav nav{
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
}
.aside-nav h1{
    font-size: 2em;
    color: #120261;
    margin-bottom: 3em;
}
.first-list ul{
    margin-bottom: 3em;
    li{
        padding: 1em;
        a{
            text-decoration: none;
            color: rgb(231, 216, 216);
            text-align: center;
            padding: 5px;
            display: block;
            transition: all .5s ease-in-out;
        }
        a:hover{
            background:#555;
            color: #050b29;
            transform: rotate(10deg);
            border-radius: 3px;
        }
    }
}
.second-list{
    ul{
     li{
         padding: 0.3em;
     }
     a{
         text-decoration: none;
         color: #050307;
         padding: 5px;
         text-align: center;
         display: block;
         transition: all .5s ease-in-out;
     }
     a:hover{
         transform: translateX(15px);
         background: #090a14;
         color: #f6f5f5;
     }
    }
}
.main{
    max-width: 100%;
    max-height: 100vh;
    background: url(./images/rings.jpg) center no-repeat;
    background-size: cover;
    transition: 5s;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 40s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate{
    0%{
        background-image: url(./images/earrings.jpg);

    }
    33.3%{
        background-image: url(./images/necklace.jpg);

    }
    66.6%{
        background-image: url(./images/watch.jpg);
    }
    100%{
        background-image: url(./images/chain.jpg);
    }

}
.search{
    width: 90%;
    margin: 2em auto;
    display: flex;
    font-family:Helvetica;
    justify-content: flex-end;
}
input{
    width: 35%;
    font-size: 1.2em;
    height: 25px;
    padding: 5px 12px;
    margin: 0 .3em;
    outline: none;
    font-weight: 500;
    background-color: rgba(0,0,0,0.4);
    border-bottom: o.5px thin rgb(240, 240, 240);
    outline: none;
    border-radius: 6px;
    color: #fff;
}
button{
    width: 6%;
    font-weight: 500;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid rgb(106, 103, 117);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    transition: all .5s ease-in-out;
}button:hover{
    background: #403a5c;
    color: #e0ddf0;
}
.main-nav{
    width: 100%;
    ul{
        display: flex;
        width: 90%;
        margin: 0 4%;

        li{
            list-style: none;
            width: 12%;
            margin: 0 0.5%;
            text-align: center;
            a{
                text-decoration: none;
                font-family: Tahoma, Geneva, Verdana, sans-serif;
                text-decoration: none;
                color: #e0ddf0;
                transition: all .5s ease-in-out;
                display: inline-block;
                padding: 6px 8px;
                background-color: rgba(0,0,0,0.4);
                border-radius: 2.5px;
                border: 1px solid rgb(106, 103, 117);
            }
            a:hover{
                transform: scale(1.16);
                color: rgb(122, 122, 160);
            }
        }
    }
}
.main-head{
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 5em;
        font-weight: bold;
        line-height: 1.4em;
        letter-spacing: 2px;
        margin: 0.8em 1.5em 0.2em 0;
        text-align: end;
    }
    span{
        color: #d4d2f8;
        font-weight: bolder;
    }
     h3{
       color: #b1b1b1;
       margin-right: 6.6em;
       font-size: 1.1em;
       font-family: sans-serif;
       padding-bottom: 15px;
       text-align: end;
    }
}
.explore {
    text-align: center;
    a{
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-top: 4em;
        padding: 8px;
        background: #b1b1b1;
        color: #000;
        border-radius: 3px;
        transition: all .5s ease;
    }
    a:hover{
        background: #000003;
        color: #e0ddf0;
    }
}
